.singleCard{
    background-color: #415a77;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 75%;
    width: 75%;

    align-self: center;
    justify-self: center;
}

.singleCard>img{
    height: 110%;
    /* width: 100%; */
}

.singleCard:hover {
    filter: drop-shadow(0 0 20px #8aabd1);
    background-color: #587aa1d4;
  }


.singleCard {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    transform: translateY(20px);
  }
  
  .singleCard.loaded {
    opacity: 1;
    transform: translateY(0);
  }